body {
  margin: 0;
}

/*
serif
font-family: "source-serif-pro";

sans
font-family: "pragmatica-web";
font-family: "jaf-bernino-sans-condensed";

mono
font-family: "courier-std";

font-family: "p22-franklin-caslon";
*/

h1 {
  font-family: "jaf-bernino-sans-condensed";
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-family: "pragmatica-web";
  font-size: 22px;

}

h3 {
  font-family: "pragmatica-web";
  font-size: 18px;

}

h4 {
  font-family: "pragmatica-web";
  font-size: 15px;

}

h5 {
  font-family: "jaf-bernino-sans-condensed";
  font-size: 15px;
  font-weight: bolder;
}

h6 {
  font-family: "jaf-bernino-sans-condensed";
  font-size: 13px;
  font-weight: bolder;

}

p {
  font-family: "source-serif-pro";
}

ul {
  font-family: "source-serif-pro";
}

ol {
  font-family: "source-serif-pro";
}

li {
  font-family: "source-serif-pro";
}

blockquote {
  font-family: "source-serif-pro";

}

pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

pre code {
  font-family: "courier-std";
  display: inline;
  padding: 0;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

p code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 95%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

img {
  margin: 0 auto;
}

a {
  color: #e63f1b;
  text-decoration: none;
}

a:visited {
  color: #e63f1b;
}

a:hover {
  color: #e63f1b;
  text-decoration: underline;
}

a:link {
  color: #e63f1b;
}


.header-wrapper {
  width: 100%;
  min-height: 350px;
}

h1.page-title {
  text-align: center;
}

.header-image {
  background-image: url('../images/IMG_8915.JPG');
  min-height: 350px;
  height: 100%;
  background-position: 60% center;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 6px solid #2c2c2c;
}

.navigation {
  position: absolute;
  top: 270px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  background-color: #2c2c2c;
  height: 100px;
  margin-top: 25px;
}

.avatar {
  border-radius: 90px;
  width: 150px;
  margin-top: -25px;
  border: 6px solid #2c2c2c;
  display: inline-block;
}

.avatar:hover {
  border: 6px solid #e63f1b;
}

.nav-icon {
  font-size: 50px;
  color: rgba(255, 255, 255, .6);
  display: inline-block;
  vertical-align: top;
  padding: 25px
}

.nav-icon:hover {
  color: #fff;
  text-shadow: 0 0 5px #e63f1b;
}

.main-content {
  margin: 90px 200px 10px;
}

.averycodes-wrapper {
  margin-bottom: 75px;
}

.post-title {
  text-transform: none;
  color: #e63f1b !important;
  font-size: 30px;
  margin: 20px 0 0 0;
}

.post-date {
  color: #aaa;
  font-style: italic;
}

.post-date-post-page {
  display: block;
  text-align: center;
  color: #aaa;
  font-style: italic;
}

.pagination {
  margin: 20px 0;
}

@media only screen and (max-device-width: 480px) {
  .main-content {
    margin: 20px;
  }

  .header-image {
    display: none;
  }

  .navigation {
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;

  }
  .navigation .avatar {
    border-radius: 0;
    width: 50px;
    border: none;
    display: inline-block;
  }

  .nav-icon {
    font-size: 30px;
    color: rgba(255, 255, 255, .6);
    display: inline-block;
    vertical-align: top;
    padding: 10px
  }
}







